.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.backButton {
  background-color: #00b853;
  margin-top: 50px;
  margin-left: 100px;
  border: 0;
  border-radius: 2em;
  width: 5%;
  height: 25px;
  text-decoration: underline;
  color: white;
}

.backButton:hover {
  background-color: #218838;
  cursor: pointer;
}

.productContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.productContainer > div {
  flex: 1;
  margin: 0 20px;
}

.productContainer h1,
.productContainer h3,
.productContainer h2 {
  margin: 10px 0;
}

.productContainer p {
  margin: 5px 0;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.moneyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.moneyContainer h2 {
  color: #333;
  margin-bottom: 10px;
}

#quantity-select {
  padding: 5px;
  margin-top: 10px;
}

.carritoButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carritoButton:disabled {
  background-color: #b94c4c;
  cursor: not-allowed;
}

.carritoButton:hover:not(:disabled) {
  background-color: #218838;
}
