.productContainer{
    display: flex;
}



.productImage{
    margin: 50px;
    max-width: 300px;
}


.moneyContainer{
    margin: 2%;
}

.carritoButton {
    margin: 10px;
    border: none;
    border-radius: 20px;
    height: 7%;
    width: 200px;
    background-color: orange;   
}

.carritoButton:hover{
    background-color: orangered;
    color: white;
}

.carritoButton:disabled{
    background-color: grey;
    cursor: not-allowed;
}