.googleBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: .5em;
  font-size: 1em;
  font-weight: bold;
  color: #ffffff; 
  background-color: #DB4437; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.googleBtn:hover {
  background-color: #c53728; 
}

.googleBtn:focus {
  outline: none;
}

.googleBtn svg {
  margin-right: 1em;
  font-size: 2em;
  
}
