.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select,
.input {
  padding: 0.5rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.select:focus,
.input:focus {
  outline: none;
  border: 1px solid #4caf50;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
